.testimonials {
  padding: 38px 80px;
  background: #1E274E;
  color: #ffffff;
  margin-bottom: 1%;

  h2 {
    font-size: 28px;
    color: #ffffff;
    margin-top: 5%;
    text-align: left;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 13%;
    
  }

  .testimonial-card {
    background: #26305B;
    margin-bottom: 0%;
    margin-bottom: 0%;
    padding: 22px;
    border-radius: 8px;
    text-align: center;
    width: 200px; 
    box-shadow: 2px 4px 10px #000;

    p:first-child {
      font-size: 16px;
      
    }
    
    p:last-child {
      font-size: 18px;
      color: #ffd700;
      margin-top: 10px;
      
    }
  }      
}

hr{
  width: 86%;
}