.Desenvolvimento{
    background-color: #1E274E;
    background-position: center;
    padding: 14% 20px;
}

.Image{
    width: 20%;
    text-align: center;
}

.p{
    font-size: 28px;
    font-weight: 40px;
    line-height: 1.4;
    padding-top: 0%;
}

.dois{
    font-size: 20px;
    font-weight: 40px;
    line-height: 1.4;
    text-align: right;
}