body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import '../components/foco/focus.scss';
@import '../components/depoimentos/depoiments.scss';
@import '../components/especialidade/speciality.scss';
@import '../components/header/Header.scss';
@import '../components/hero-section/HeroSection.scss';
@import '../components/contact-form/ContactForm.scss';
@import '../components/card/card.scss';
@import '../components/footer/Footer.scss';
