.footer {
  padding: 40px 20px;
  background:  #1E274E;;
  color: #ffffff;
  text-align: center;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: #00d1ff;
    margin-bottom: 10px;
    text-align: left;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    color: #aaaaaa;
    
  }

  &__social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    

    a {
      color: #ffffff;
      font-size: 18px;
      text-decoration: none;
      text-align: left;
      

      

      &:hover {
        color: #00d1ff;
      }
    }
  }  
  .Contact{
      text-align: right;
      margin-right: 20px;
    
      }
}
