.testimonials {
  padding: 60px 20px;
  background: #26305B;
  color: #ffffff;

  
  h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 15%;
    
  }

  .testimonial-card {
    background: #1a1a2e;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    width: 200px; 


    p:first-child {
      font-size: 16px;
      
    }

    p:last-child {
      font-size: 18px;
      color: #ffd700;
      margin-top: 10px;
      
    }
  }
}
