.line-divider {
  width: 100%;
  height: 20px;
  display: flex;

  .blue, .red, .yellow {
    flex: 1; 
  }
  
  .blue {
    background-color: #019CE5;
  }

  .red {
    background-color: #FF3336;
  }

  .yellow{
    background-color: #FFCA3E
  }
}