.Foco {
    padding: 4rem;
    background-color: #26305B;
}

p {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
    color: #ffff;

    #blue {
      color: #019CE5;
    }

    #red {
      color: #FF3336;
    }

    #yellow{
      color: #FFCA3E
    }
  }