.Foco {
  padding: 3rem;
  background-color: #26305B;
  hr{
    margin-top: 9% ;
    width: 90%;
    }
}

hr{
  width: 65%;
  font-weight: bold;
}

p {
font-size: 28px;
font-weight: 40px;
line-height: 1.4;
letter-spacing: 1px;
text-align: center;
color: #ffff;
margin-top: 6%;
margin-bottom: 6%;
  

  #blue {
    color: #019CE5;
  }

  #red {
    color: #FF3336;
  }

  #yellow{
    color: #FFCA3E
  }
}