.hero-section {
  text-align: center;
  padding: 14rem 20px;
  background-color: #1E274E;
  color: #ffffff;
  background-image: url('../../../public/images/arc-mockup.png');
  background-repeat: no-repeat;
  background-position: right;

  h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    

    #blue {
      color: #019CE5;
    }

    #red {
      color: #FF3336;
    }

    #yellow{
      color: #FFCA3E
    }
  }

  p {
    margin-top: 20px;
    font-size: 20px;
  }

  .hero-section__cta {
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #00d1ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      background-color: #00a0cc;
    }
  }
}
